<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Was geht SBB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Example Image" class="moving-image">
</head>
<body>
    <h1>SBB vs. Car - the independent comparison</h1>
    <form action="/submit" method="post">
        <div>
            <label for="start">Enter Start:</label>
            <input type="text" id="start" name="start">
        </div>
        <div>
            <label for="dest">Enter Destination:</label>
            <input type="text" id="dest" name="dest">
        </div>
        <div>
            <label for="time">Select Time:</label>
            <input type="time" id="time" name="time">
        </div>
        <button type="submit">Submit</button>
    </form>
    {% if error %}
        <div class="error-message">
            Error: There was a problem with your input. Please check and try again.
        </div>
    {% endif %}
    
    <div class="slideshow-container">
        <div class="mySlides">
            <img src="{{ url_for('static', filename='images/photo1.jpg') }}" style="width:130%">
        </div>

        <div class="mySlides">
            <img src="{{ url_for('static', filename='images/photo2.jpg') }}" style="width:130%">
        </div>

        <div class="mySlides">
            <img src="{{ url_for('static', filename='images/photo3.jpg') }}" style="width:130%">
        </div>

        <!-- Add more slides as needed -->

        <!-- Optional: Add navigation dots -->
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <!-- Add more dots as needed -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='slideshow.js') }}"></script>
</body>
